@model List<BomboProyect.Models.DetProducto>

@{ Layout = null; }

<input type="hidden" value="0" name="ContElement" id="ContElement" />
<input type="hidden" value="" name="ContElmeJson" id="ContElmeJson" />
<h5>Insumos Seleccionados</h5>
<table class="table">
    <thead class="table-secondary">
        <tr>
            <th>Nombre</th>
            <th>Cantidad Total</th>
            <th>Acction</th>
        </tr>
    </thead>
    <tbody id="tbContainer">
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td hidden>
                    <input value="@Model[i].Insumo.InsumoId" name="[@i].Insumo.InsumoId" type="hidden" />
                    <input value="@Model[i].Insumo.Nombre" name="[@i].Insumo.Nombre" type="hidden" />
                    <input value="@Model[i].Insumo.Descripcion" name="[@i].Insumo.Descripcion" type="hidden" />
                    <input value="@Model[i].Insumo.Precio" name="[@i].Insumo.Precio" type="hidden" />
                    <input value="@Model[i].Insumo.CantidadNeta" name="[@i].Insumo.CantidadNeta" type="hidden" />
                    <input value="@Model[i].Insumo.Existencias" name="[@i].Insumo.Existencias" type="hidden" />
                    <input value="@Model[i].Insumo.ContenidoTot" name="[@i].Insumo.ContenidoTot" type="hidden" />
                    <input value="@Model[i].Insumo.Status" name="[@i].Insumo.Status" type="hidden" />
                </td>
                <td>@Model[i].Insumo.Nombre</td>
                <td><input name="[@i].Cantidad" type="number" min="0" value=@Model[i].Cantidad class="form-control" /></td>
                <td>
                    <div class="d-flex justify-content-start">
                        <button type="button" onclick="removeInsumo(Json.Enconde(Model[i]))" class="btn btn-danger">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>