@model IEnumerable<BomboProyect.Models.Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="mt-5">Productos</h2>

    <div class="mt-3">
        <a href="@Url.Action("Create", "Productos")" class="btn btn-secondary">
            <i class="fa-solid fa-plus"></i>
            <span>Nuevo Producto</span>
        </a>
    </div>

    <div class="row justify-content-start">
        <div class="row">
            @using (Html.BeginForm("Index", "Productos", FormMethod.Post, new { @class = "" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="actInac" id="flexRadioDefault1" value="ACTIVOS" @(ViewBag.activos == true ? "checked" : "")>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Activos
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="actInac" id="flexRadioDefault2" value="INACTIVOS" @(ViewBag.activos == false ? "checked" : "")>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Inactivos
                    </label>
                </div>
                <button class="btn btn-dark" type="submit">Cargar</button>
            }
        </div>
    </div><br />
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Productos" />
    <div class="table-scroll">
        <table class="table mt-2" id="myTable">
            <thead class="table-dark">
                <tr class="header">
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Foto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Existencias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            <img src="@Url.Content(item.Foto)" style="height: 100px; width: 100px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Existencias)
                        </td>
                        <td>

                            @if (item.Status)
                            {
                                <p><span class="badge bg-success">Activo</span></p>
                            }
                            else
                            {
                                <p><span class="badge bg-danger">Inactivo</span></p>
                            }

                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                @if (item.Status == true)
                                {
                                    <div>
                                        <a href="@Url.Action("GenerarExistencias", "Productos", new { id = item.ProductoId })" class="btn btn-secondary btn-icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                    </div>
                                }

                                <div>
                                    <a href="@Url.Action("Edit", "Productos", new { id = item.ProductoId })" class="btn btn-dark btn-icon">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="@Url.Action("Details", "Productos", new { id = item.ProductoId })" class="btn btn-warning btn-icon">
                                        <i class="fa-solid fa-info"></i>
                                    </a>
                                </div>
                                @if (item.Status == true)
                                {
                                    <div>
                                        <a href="@Url.Action("Delete", "Productos", new { id = item.ProductoId })" class="btn btn-danger btn-icon">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                }

                            </div>



                            <!--
                            Html.ActionLink("Edit", "Edit", new { id = item.ProductoId }) |
                            Html.ActionLink("Details", "Details", new { id = item.ProductoId }) |
                            Html.ActionLink("Delete", "Delete", new { id = item.ProductoId })
                            -->

                        </td>
                    </tr>
                }
            </tbody>



        </table>
    </div>

</div>