@model List<BomboProyect.Models.Productos>

@{ Layout = null; }

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar productos" />
<table class="table text-center" id="myTable">
    <thead class="table-dark">
        <tr class="header">
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio C/U</th>
            <th>Existencias</th>
            <th>Cantidad a Vender</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        @for (var pr = 0; pr < Model.Count(); pr++)
        {
            <tr>
                <td>@Model[pr].Nombre</td>
                <td>@Model[pr].Descripcion</td>
                <td>@Model[pr].Precio</td>
                <td hidden><input value="@Model[pr].Precio" name="[@pr].Precio" type="hidden" /></td>
                <td>@Model[pr].Existencias</td>
                <td>
                    <input type="number" name="[@pr].Existencias" value="0" min="0" max="@Model[pr].Existencias" />
                </td>
                <td><img src="@Url.Content(@Model[pr].Foto)" style="height: 100px; width: 100px" /></td>
                <td hidden><input value="@Model[pr].ProductoId" name="[@pr].ProductoId" type="hidden" /></td>

            </tr>

        }
    </tbody>
</table>
