@model BomboProyect.Models.Ventas

@{
    ViewBag.Title = "Alta";
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <h2>Alta de Ventas</h2>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <a href="@Url.Action("Index", "Ventas")" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Regresar al listado</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-10 shadow p-3 mb-5 bg-body rounded">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row" style="padding-right: 20px; padding-left: 20px;">
                    <div class="col-md-4">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div>
                                <input type="text" name="UsuarioId" value="@ViewBag.Id" hidden />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label col-md-4">Usuario</label>
                            <div class="col-md-8">
                                <input type="text" name="usuarioId" readonly placeholder="" class="form-control" value="@ViewBag.Usuario" />
                            </div>
                        </div> <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaVenta, "Fecha Venta", htmlAttributes: new { @class = "form-label col-md-4" })
                            <div class="col-md-8">
                                <input type="date" name="FechaVenta" class="form-control" value="" />
                                @Html.ValidationMessageFor(model => model.FechaVenta, "", new { @class = "text-danger" })
                            </div>
                        </div> <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.HoraVenta, "Hora Venta", htmlAttributes: new { @class = "form-label  col-md-4" })
                            <div class="col-md-8">
                                <input type="time" name="HoraVenta" class="form-control" />
                                @Html.ValidationMessageFor(model => model.HoraVenta, "", new { @class = "text-danger" })
                            </div>
                        </div> <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, "Estatus", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Status)
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div> <br />
                    </div>
                    <div class="col-md-8">
                        <div id="divProductos"></div>
                    </div>
                </div>

                @*<div class="row text-center">
                    <div class="form-group">
                        <div class="col-12">
                            <input type="submit" value="Registrar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>*@

                <div class="d-grid">
                    <button class="btn btn-success" type="submit">Registrar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#divProductos").load("_ListProductos");
        });
    </script>
}
