@using BomboProyect.Models
@model BomboProyect.Models.Ventas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la venta</h2>

<div>
    <h4>Ventas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Cliente
        </dt>

        <dd>
            @ViewBag.nombreUser
        </dd>
        
        <dt>
            Fecha Venta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>

        <dt>
            Hora Venta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraVenta)
        </dd>

        <dt>
            Estatus
        </dt>

        <dd>
           @if (Model.Status == 1)
           {
              <div style="background-color:green; width:70px; text-align:center; border-radius:10px;">Activo</div>
           }
           else {<div style="background-color:red; width:70px; text-align:center;">Inactivo</div>}
        </dd>
    </dl>
    <hr />
    <h4>Productos de la venta</h4>
    <table class="table table-bordered text-center">
        <tr>
            <th>Nombre del Producto</th>
            <th>Descripcion</th>
            <th>Precio C/U</th>
            <th>Cantidad Vendida</th>
            <th>Sub Total</th>
        </tr>
        @{int cont = 0;}
        @foreach (DetVenta pr in ViewBag.listV)
        {   
            <tr>


                <td>@ViewBag.listP[cont].Nombre</td>
                <td>@ViewBag.listP[cont].Descripcion</td>
                <td>@ViewBag.listP[cont].Precio</td>


                <td>@pr.Cantidad</td>
                <td>@pr.PrecioVenta</td>
            </tr>
            cont=cont+1;
        }

    </table>
</div>
<p>    
    <a href="/Ventas/Index" class="btn btn-info">Regresar a la lista</a>
</p>
