@using BomboProyect.Models
@model BomboProyect.Models.Ventas

@{
    ViewBag.Title = "Detalle";
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <h2>Información del venta</h2>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <a href="@Url.Action("Index", "Ventas")" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Regresar al listado</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-10 shadow p-3 mb-5 bg-body rounded">
            <div class="row mb-10">
                    <div class="col-3">
                        <label class="fw-bold">Nombre de Usuario</label>
                        <p>@ViewBag.nombreUser</p>
                    </div>
                    <div class="col-3">
                        <label class="fw-bold">Fecha de venta</label>
                        <p>@Html.DisplayFor(model => model.FechaVenta).ToString().Substring(0, 10)</p>
                    </div>
                    <div class="col-3">
                        <label class="fw-bold">Hora de venta</label>
                        <p>@Html.DisplayFor(model => model.HoraVenta).ToString().Substring(11)</p>
                    </div>
                    <div class="col-3">
                        <label class="fw-bold">Status</label>
                        @if (Model.Status == 1)
                        {
                            <p><span class="badge bg-success">Activo</span></p>
                        }
                        else
                        {
                            <p><span class="badge bg-danger">Inactivo</span></p>
                        }
                    </div>
            </div>
            <div class="row p-2">
                <h4>Productos de la venta</h4>
                <table class="table text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre del Producto</th>
                            <th>Descripcion</th>
                            <th>Precio C/U</th>
                            <th>Cantidad Vendida</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int cont = 0;}
                        @foreach (DetVenta pr in ViewBag.listV)
                        {
                            <tr>


                                <td>@ViewBag.listP[cont].Nombre</td>
                                <td>@ViewBag.listP[cont].Descripcion</td>
                                <td>@ViewBag.listP[cont].Precio</td>


                                <td>@pr.Cantidad</td>
                                <td>@pr.PrecioVenta</td>
                            </tr>
                            cont = cont + 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>