@model IEnumerable<BomboProyect.Models.Ventas>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="mt-5">Ventas</h2>

    <div class="mt-3">
        <a href="@Url.Action("Create", "Ventas")" class="btn btn-secondary">
            <i class="fa-solid fa-plus"></i>
            <span>Nueva Venta</span>
        </a>
    </div>

    <table class="table mt-2">
        <thead class="table-dark">
            <tr>
                <th>
                    Fecha Venta
                </th>
                <th>
                    Hora Venta
                </th>
                <th>
                    Estatus
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaVenta).ToString().Substring(0, 10)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraVenta).ToString().Substring(11)
                    </td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <p><span class="badge bg-success">Activa</span></p>
                        }
                        else if (item.Status == 2)
                        {
                            <p><span class="badge bg-danger">Cancelada</span></p>
                        }
                        else
                        {
                            <p><span class="badge bg-info">Terminada</span></p>
                        }
                    </td>
                    <td>
                        <div class="mb-2">
                            <a href="@Url.Action("Details", "Ventas", new { id = item.VentaId })" class="btn btn-warning">
                                <i class="fa-solid fa-info"></i>
                                <span class="ms-2">Detalle de Venta</span>
                            </a>
                        </div>
                        @if (item.Status != 3 && item.Status != 2)
                        {
                            <div class="mb-2">
                                <a href="@Url.Action("Cancelar", "Ventas", new { id = item.VentaId })" class="btn btn-danger">
                                    <i class="fa-solid fa-ban"></i>
                                    <span class="ms-2">Cancelar venta</span>
                                </a>
                            </div>
                        }

                        @if (item.Status == 1)
                        {
                            <div class="mb-2">
                                <a href="@Url.Action("Terminar", "Ventas", new { id = item.VentaId })" class="btn btn-info">
                                    <i class="fa-solid fa-check"></i>
                                    <span class="ms-2">Terminar venta</span>
                                </a>
                            </div>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
