<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/cddc159071.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top bg-brown">
        <div class="">
            <button class="navbar-toggler mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/app/img/panaderiaBonbo.png" width="220" height="60" />
            </a>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header bg-brick">
                    @if (ViewBag.ssUsuario == null)
                    {
                        <h4 class="offcanvas-title" id="offcanvasNavbarLabel">Bienvenido</h4>
                    }
                    else
                    {
                        <h4 class="offcanvas-title" id="offcanvasNavbarLabel">
                            <img src="~/app/img/user.png" width="40" height="40" />
                            @ViewBag.ssUsuario.Nombre @ViewBag.ssUsuario.ApePat
                        </h4>
                    }

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                        @if (ViewBag.ssUsuario != null)
                        {
                            <!---------------------------------------------------------------------->
                            <li class="nav-item">
                                <h5>
                                    <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Home")">
                                        <img src="~/app/img/home.png" width="30" height="30" />
                                        <span>Inicio</span>
                                    </a>
                                </h5>
                            </li>

                            <!---------------------------------------------------------------------->
                            <li class="nav-item">
                                <h5>
                                    <a class="nav-link px-1 text-muted" href="@Url.Action("Contact", "Home")">
                                        <img src="~/app/img/communicate.png" width="30" height="30" />
                                        <span>Contactanos</span>
                                    </a>
                                </h5>
                            </li>

                            <!---------------------------------------------------------------------->
                            if (ViewBag.ssUsuario.Rol.RolId == 1)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Productos")">
                                            <img src="~/app/img/bakery.png" width="30" height="30" />
                                            <span>Productos</span>
                                        </a>
                                    </h5>
                                </li>
                            }

                            if (ViewBag.ssUsuario.Rol.RolId == 3)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Productos")">
                                            <img src="~/app/img/bakery.png" width="30" height="30" />
                                            <span>Productos</span>
                                        </a>
                                    </h5>
                                </li>
                            }
                            <!---------------------------------------------------------------------->
                            if (ViewBag.ssUsuario.Rol.RolId == 1)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Insumos")">
                                            <img src="~/app/img/supply.png" width="30" height="30" />
                                            <span>Insumos</span>
                                        </a>
                                    </h5>
                                </li>
                            }

                            if (ViewBag.ssUsuario.Rol.RolId == 2)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Insumos")">
                                            <img src="~/app/img/supply.png" width="30" height="30" />
                                            <span>Insumos</span>
                                        </a>
                                    </h5>
                                </li>
                            }

                            <!---------------------------------------------------------------------->
                            if (ViewBag.ssUsuario.Rol.RolId == 1)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Compras")">
                                            <img src="~/app/img/shopping-cart.png" width="30" height="30" />
                                            <span>Compras</span>
                                        </a>
                                    </h5>
                                </li>
                            }

                            if (ViewBag.ssUsuario.Rol.RolId == 2)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Compras")">
                                            <img src="~/app/img/shopping-cart.png" width="30" height="30" />
                                            <span>Compras</span>
                                        </a>
                                    </h5>
                                </li>
                            }
                            <!---------------------------------------------------------------------->
                            if (ViewBag.ssUsuario.Rol.RolId == 1)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Ventas")">
                                            <img src="~/app/img/sale.png" width="30" height="30" />
                                            <span>Ventas</span>
                                        </a>
                                    </h5>
                                </li>
                            }

                            if (ViewBag.ssUsuario.Rol.RolId == 3)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Ventas")">
                                            <img src="~/app/img/sale.png" width="30" height="30" />
                                            <span>Ventas</span>
                                        </a>
                                    </h5>
                                </li>
                            }

                            <!---------------------------------------------------------------------->
                            if (ViewBag.ssUsuario.Rol.RolId == 1)
                            {
                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Usuarios")">
                                            <img src="~/app/img/teamwork.png" width="30" height="30" />
                                            <span>Usuarios</span>
                                        </a>
                                    </h5>
                                </li>
                            }
                            <!---------------------------------------------------------------------->


                                <li class="nav-item">
                                    <h5>
                                        <a class="nav-link px-1 text-muted" href="@Url.Action("Details", new {})">
                                            <img src="~/app/img/gestion-web.png" width="30" height="30" />
                                            <span>Configuración</span>
                                        </a>
                                    </h5>
                                </li>

                            <!---------------------------------------------------------------------->
                            <li class="nav-item">
                                <h5>
                                    <a class="nav-link px-1 text-muted" href="@Url.Action("CerrarSesion", "Home")">
                                        <img src="~/app/img/check-out.png" width="30" height="30" />
                                        <span>Cerrar Sesión</span>
                                    </a>
                                </h5>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <h5>
                                    <a class="nav-link px-1 text-muted" href="@Url.Action("Index", "Acceso")">
                                        <img src="~/app/img/account.png" width="30" height="30" />
                                        <span>Iniciar Sesión</span>
                                    </a>
                                </h5>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-4">
        @RenderBody()
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <footer class="d-flex flex-wrap justify-content-between align-items-center border-top footer">
                <br />

                <ul class="nav col-md-4 justify-content-around">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted text-center">
                            <h5>© Panadderia Bombo, Inc.</h5>
                        </a>
                    </li>
                </ul>

                <ul class="nav col-md-4 justify-content-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-muted text-center">
                            <img src="~/app/img/mapa.png" width="50" height="50" />
                            Blvd. Juan Alonso de Torres Pte. 1315, Jardines de Los Naranjos,
                            Santa Rosa de Lima Sur, 37200 León, Gto.
                        </a>
                    </li>
                </ul>


                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/" class="nav-link px-2 text-muted">
                            <img src="~/app/img/facebook.png" width="60" height="60" />
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://twitter.com/home?lang=es" class="nav-link px-2 text-muted">
                            <img src="~/app/img/logotipo-de-twitter.png" width="60" height="60" />
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.instagram.com/" class="nav-link px-2 text-muted">
                            <img src="~/app/img/instagram.png" width="60" height="60" />
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
