@model BomboProyect.Models.Usuarios

@{
    ViewBag.Title = "Borrar";
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <h2>Eliminar Usuario</h2>
            <h3>¿Estas seguro de elimninar este usuario?</h3>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <div class="row shadow p-3 mb-5 rounded">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <label class="fw-bold">@Html.DisplayNameFor(model => model.Nombre)</label>
                        <p>@Html.DisplayFor(model => model.Nombre)</p>

                        <label class="fw-bold">Apellido Paterno</label>
                        <p>@Html.DisplayFor(model => model.ApePat)</p>

                        <label class="fw-bold">Apellido Materno</label>
                        <p> @Html.DisplayFor(model => model.ApeMat)</p>

                        <label class="fw-bold">Correo Electronico</label>
                        <p>@Html.DisplayFor(model => model.Correo)</p>
                    </div>
                </div>
                <div class="mt-2">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-danger w-100">Borrar</button>
                            </div>
                            <div class="col-6">
                                <a href="@Url.Action("Index", "Usuarios")" class="btn btn-secondary w-100">
                                    <i class="fa-solid fa-arrow-left"></i>
                                    <span>Regresar al listado</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>