@model BomboProyect.Models.Usuarios

@{
    ViewBag.Title = "Detalle";
}


<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <h2>Informacion del Usuario</h2>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <a href="@Url.Action("Index", "Usuarios")" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Regresar al listado</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-8 shadow p-3 mb-5 bg-body rounded">
            <div class="row mb-10">
                <div class="col">
                    <div class="form-outline">
                        <h5>
                            <label class="form-label" for="form6Example1">Nombre completo:</label>
                        </h5>
                        @Html.DisplayFor(model => model.Nombre)
                        @Html.DisplayFor(model => model.ApePat)
                        @Html.DisplayFor(model => model.ApeMat)
                    </div>

                    <hr />

                    <div class="form-outline">
                        <h5>
                            <label class="form-label" for="form6Example1">Dirección:</label>
                        </h5>
                        Calle
                        @Html.DisplayFor(model => model.Calle)
                        @Html.DisplayFor(model => model.NumExt)
                        int
                        @Html.DisplayFor(model => model.NumInt)
                        Colonia
                        @Html.DisplayFor(model => model.Colonia)
                        CP
                        @Html.DisplayFor(model => model.CP)
                    </div>

                    <hr />

                    <div class="form-outline">
                        <h5>
                            <label class="form-label" for="form6Example1">Recidencía:</label>
                        </h5>

                        Ciudad
                        @Html.DisplayFor(model => model.Ciudad),
                        Estado
                        @Html.DisplayFor(model => model.Estado)
                        Municipio
                        @Html.DisplayFor(model => model.Municipio)

                    </div>

                    <hr />

                    <div class="row mb-9">
                        <div class="col">
                            <div class="form-outline">
                                <h5>
                                    <label class="form-label" for="form6Example1">Correo electronico:</label>
                                </h5>
                                @Html.DisplayFor(model => model.Correo)
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <h5>
                                    <label class="form-label" for="form6Example1">Número teléfonico:</label>
                                </h5>
                                @Html.DisplayFor(model => model.Telefono)
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <h5>
                                    <label class="form-label" for="form6Example2">Estatus:</label>
                                </h5>

                                @if (Model.Status)
                                {
                                    <p><span class="badge bg-success">Activo</span></p>
                                    <span class="text-success"></span>
                                }
                                else
                                {
                                    <p><span class="badge bg-danger">Inactivo</span></p>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="d-grid mt-3">
                <a href="@Url.Action("Edit", "Usuarios", new {id = Model.UsuarioId})" class="btn btn-dark">
                    <i class="fa-solid fa-pen"></i>
                    <span>Editar</span>
                </a>
            </div>
        </div>
    </div>
</div>