@model IEnumerable<BomboProyect.Models.Usuarios>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Usuarios registrados</h2>
<div class="mt-3">
    <a href="@Url.Action("Create", "Usuarios")" class="btn btn-secondary">
        <i class="fa-solid fa-plus"></i>
        <span>Agregar Usuario</span>
    </a>
</div>

<div class="row justify-content-start">
    <div class="row">
        @using (Html.BeginForm("Index", "Usuarios", FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="actInac" id="flexRadioDefault1" value="ACTIVOS" @(ViewBag.activos == true ? "checked" : "")>
                <label class="form-check-label" for="flexRadioDefault1">
                    Activos
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="actInac" id="flexRadioDefault2" value="INACTIVOS" @(ViewBag.activos == false ? "checked" : "")>
                <label class="form-check-label" for="flexRadioDefault2">
                    Inactivos
                </label>
            </div>
            <button class="btn btn-dark" type="submit">Cargar</button>
        }
    </div>
</div>
<table class="table mt-2 text-center">
    <thead class="table-dark">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido Paterno
            </th>
            <th>
                Correo
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Estatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApePat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>

                    @if (item.Status)
                    {
                        <p><span class="badge bg-success">Activo</span></p>
                        <span class="text-success"></span>
                    }
                    else
                    {
                        <p><span class="badge bg-danger">Inactivo</span></p>
                    }

                </td>

                <td>
                    <div class="d-flex justify-content-center">

                        <div>
                            <a href="@Url.Action("Edit", new { id = item.UsuarioId })" class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                        </div>

                        <div>
                            <a href="@Url.Action("Details", new { id = item.UsuarioId })" class="btn btn-warning btn-icon">
                                <i class="fa-solid fa-info"></i>
                            </a>
                        </div>
                        @if (item.Status == true)
                        {
                            <div>
                                <a href="@Url.Action("Delete", new { id = item.UsuarioId })" class="btn btn-danger btn-icon">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        }

                    </div>
                    <!--
                    Html.ActionLink("Edit", "Edit", new { id = item.UsuarioId }) |
                    Html.ActionLink("Details", "Details", new { id = item.UsuarioId }) |
                    Html.ActionLink("Delete", "Delete", new { id = item.UsuarioId })
                    -->
                </td>

            </tr>
        }
    </tbody>
</table>
