@model IEnumerable<BomboProyect.Models.DetProducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetProductoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetProductoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetProductoId })
        </td>
    </tr>
}

</table>
