@model List<BomboProyect.Models.Productos>
@using BomboProyect.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row justify-content-center mt-5">
            @if (Model != null)
            {
                foreach (Productos pr in Model)
                {
                    <div class="col-auto mt-2">
                        <div class="card" style="width: 18rem;">
                            <img src="@Url.Content(pr.Foto)" class="card-img-top" style="height: 200px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@pr.Nombre</h5>
                                <p class="card-text">@pr.Descripcion</p>
                                <p class="card-text text-success"><span>$</span> @pr.Precio</p>

                                <div class="d-grid">
                                    <a href="@Url.Action("Create", "Ventas")" class="btn btn-dark">
                                        <span>Ir a ventas</span>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
    </div>
</div>