@model BomboProyect.Models.Compras

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compra de Insumos</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <div class="row" style="padding-right: 20px; padding-left: 20px;">
        <div class="col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Empleado", htmlAttributes: new { @class = "form-label col-md-4" })
                <div class="col-md-8">
                    <select class="form-control" name="usuarioId">
                        @foreach (var item in ViewBag.usuario)
                        {
                            var nombre = @item.Nombre + " " + @item.ApePat;
                            <option value='@item.UsuarioId'>@nombre</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.Label("Proveedor", htmlAttributes: new { @class = "form-label col-md-4" })

                <div class="col-md-8">
                    @Html.DropDownList("Prov", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Proveedor.ProveedorId, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.FechaCompra, htmlAttributes: new { @class = "form-label col-md-4" })
                <div class="col-md-8">
                    <input type="date" name="FechaCompra" class="form-control" value=""/>
                    @Html.ValidationMessageFor(model => model.FechaCompra, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.HoraCompra, htmlAttributes: new { @class = "form-label col-md-4" })
                <div class="col-md-8">
                    <input type="time" name="HoraCompra" class="form-control" />
                    @Html.ValidationMessageFor(model => model.HoraCompra, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "form-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="col-md-8">
            <div id="divProductos"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Comprar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#divProductos").load("_ListInsumos");
        });
    </script>
}
