@model IEnumerable<BomboProyect.Models.Compras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="mt-5">Compras</h2>
    
    <div class="mt-3">
        <a href="@Url.Action("Create", "Compras")" class="btn btn-secondary">
            <i class="fa-solid fa-plus"></i>
            <span>Nueva Compra</span>
        </a>
    </div>

    <table class="table mt-2">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraCompra)
                    </td>
                    <td>

                        @if (item.Status)
                        {
                            <p><span class="badge bg-success">Activo</span></p>
                        }
                        else
                        {
                            <p><span class="badge bg-danger">Cancelada</span></p>
                        }

                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div>
                                <a href="@Url.Action("Details", "Compras", new { id = item.ComprasId })" class="btn btn-warning btn-icon">
                                    <i class="fa-solid fa-info"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

        </table>
</div>